{% extends 'base.html.twig' %}

{% block body %}
    <p>
        <a href="/enfant/new">Je suis un enfant</a>
    </p>
    <p>
        <a href="/enfant">Je suis un elfe</a>
    </p>
    <p>
        <a href="/enfant/livraison">Je suis le père Noël</a>
    </p>
{% endblock %}